body{
    font-family: Arial, Helvetica, sans-serif;
}
#navbar{
    background-color: darkgray;
    color: white;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
   
}
.header{
    font-size: x-large;
    color: ;
}
.box{
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
}
.container h2{
    color: rgb(126, 118, 118);
    font-weight: 900;
    font-size: x-large;
}