body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#navbar{
    padding-top: 5px;
    color: white;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px;
}
#top{
    background-image: url("../CSS/background.jpg");
    max-height: 500px;
    background-size: 100% 100%;
}
.header{
    font-size: x-large;
    color: white;
    opacity: 70%;
    padding: 50px;
    padding-right: 30%;
    text-align: center;
    
}
header button{
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: white;
    margin-left: 50px;
    margin-bottom: 50px;
}
.box{
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 600px;
}
.container h2{
    color: rgb(126, 118, 118);
    font-weight: 900;
    font-size: x-large;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 200px ;
    color: gray;
}
.box2 h2{
    text-align: center;
}
.box3{
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 600px;
}
#read-more button{
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 10px;
    padding: 8px;
}
footer{
    background-color: black;
}
footer h2{
    color: gray;
    text-align: center;
    padding-top: 15px;
}
.grid-footer{
    color: gray;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20%;
}
.logos li{
    display: inline;
    padding: 5px;
}
.logos a{
    color: gray;
    text-decoration: none;
    align-items: center;
    padding-bottom: 5px;
}