*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

 /* fix needed!
.layout-cntr {
    max-width: 1200px;
    width: 90%;
} */ 


.container {
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #ad2356;
    height: 40px;
    
}



.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.nav-bar ul {
   list-style: none;
   display: flex;
   font-size: 20px;
   padding: 0;
   margin: 0;
   
}
