*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}
.wrap-container {
    width: 94%;
    margin: 0 auto; 
    padding: 20px; 
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

header{
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header .container{
    margin-left: 40px;

}

/*
header .container1.5 .custom-hr{
    margin-top: 20px;
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
        

}*/

header .container1, .container2{
    margin-top: 20px;
    display: flex;
    color: black;
    justify-content: space-around;
    align-items: center;
    

}




#branding1{
    margin-left: 100px;
}

/*header .container1{
    margin-top: 20px;
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    
}*/

/*header .container2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/




header a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}

header li{
    display: inline;
    padding: 0 10px 0 10px;
    
}





/*Showcase */
#showcase{
    min-height: 400px;
    background: url(./images/showcase-art.png) no-repeat center ;
    text-align: center;
    color: black;
    margin-bottom: -10px;
}

#showcase .cstm-f{
    margin-top: 100px;
    font-size: 45px;
    
}

#showcase .cstm-c{
    font-size: 45px;

}

#showcase .cstm-year{
    font-size: 45px;
}

#showcase .cstm-p{
    font-size: 20px;
}

#Products{
    margin-top: 30px;
    background-color: #ffcc00;
}

#Products .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    flex-wrap: wrap; 
    
}


.background-boxes{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.background-boxes .container{
    display: flex;
    
}

.background-box1, .background-box2{
    background-image: url(./assets/images/newgirlbackgrnd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 25px;
    min-height: 190px; /* Set a minimum height */
    max-width: 520px; /* Set a maximum height */
    
}

#middle-text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    
}

.items .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto ;
    max-width: 1200px;
}

#sale-banner{
    margin-top: 50px;
}

#sale-banner .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto ;
    max-width: 1200px;  
}





#middle-text2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #d8d8d8;
    margin-bottom: -50px;
}

#background-items{
    margin-top: 50px;
    background-color: #d8d8d8;
    margin-bottom: -50px;
}

#background-items .bckgrnd-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto ;
    max-width: 1200px;
}



.form-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.cstm-form {
    margin-right: 10px;
}

input{
    width: 300px;;
}

button{
    width: 70px;
}

/*
.sale-banner{
    margin-top: 70px;
}


.sale-banner .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-left: 100px;
        
}

.vertical-box1{
   margin-left: 100px;
}

.vertical-box3{
margin-right: 100px;    
}
*/
.snips{
    margin-top: 90px;
}

.snips .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto ;
    max-width: 1200px;
}



footer{
    padding: 20px;
    margin-top: 40px;
    color: #ffffff;
    background-color: #f8235b;
    text-align: center;
}

#footer-section{
    margin-top: 30px;
}

#footer-section .container{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto ;
    max-width: 1200px;
    
}
#footer-section .container .vertical-section4{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

#footer-section .container .sub1-vertical-section4{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
#footer-section .container .sub2-vertical-section4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 1200px;
}

#footer-section .container .sub-col{
    margin-top: 10px;
}

#footer-mini-section{
    margin-top: 50px;
}

#footer-mini-section .mini-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;

}

.footer-copyrights{
    margin-top: 20px;
}
