*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
   font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

 /* fix needed!
.layout-cntr {
    max-width: 1200px;
    width: 90%;
} */ 

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #ad2356;
    height: 40px;
    padding: 0 120px;

    
}

.secondary-header {
    display: flex;
    flex-direction: column;
}



.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: brown;
    padding: 20px;

}

.text1 {
    padding: 0 70px;
}

.text2 {

    color: whitesmoke;
    margin-left: -100px;
}

.text3{
    color: rgb(210, 203, 69);
    margin-right: 100px;
    margin-left: 500px;

}

.text4 {
    color: white;
    margin-right: 400px;
}

.custom-hr {
    height: 2px;
    background-color: #000000;
    width: 100%;
}


/*
.custom-hr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width:100%;
}

*/



.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(226, 110, 26);
    padding: 20px;
}

.text5 {
    margin-left: 72px;
}


.nav-bar ul {
   list-style: none;
   display: flex;
   font-size: 20px;
   padding: 0px;
   margin-right: 320px;
   
}

.nav-bar li {
    margin: 0 4px;
}

.nav-bar a {
    color: #16171b;
}




.background-section {
    background-image: ;
}


.mini-section1 {
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content:center;
    padding-top: 40px;
    
}

.mini-section2 {
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: center;
    padding-top: 80px;
}

.bckground-img1 {
    background-image: url(assets/images/girl1-1024x683.jpg);
    background-size: cover; 
    background-position: center;
    height: 250px;
    padding: 40px;
}
.bckground-img2 {
    background-image: url(assets/images/girl1-1024x683.jpg);
    background-size: cover; 
    background-position: center;
    height: 250px;
    padding: 40px;

}