/* Add a black background color to the top navigation */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.mynav {
    background-color: #0000008a;
    color: white;
    padding: 0 200px;
    position: fixed;
    width: 100%;
    font-weight: bolder;
}

.top-nav {
  padding: 20px 0;
}

ul.bottom-nav a {
  color: white;
  text-decoration: none;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.bottom-nav div {
  display: flex;
}

.bottom-nav li {
  margin: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav li {
  display: flex;
}

.nav-logo {
  margin: 0 8px;
  filter: brightness(0) saturate(100%) invert(86%) sepia(70%) saturate(4261%) hue-rotate(347deg) brightness(97%) contrast(106%);
  width: 20px;
  height: 20px;
}


.nav-button {
  display: flex;
  margin: 0 4px;
  padding: 2px 4px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bolder;
}

.active {
  /* yellow color */
  border-bottom: 4px solid rgb(255, 225, 0);
}


/* Section 1 */
#hero, #hero div{
  display: flex;
  align-items: center;
  justify-content: center;

}


#hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.737), rgba(0, 0, 0, 0.471)), url("/assets/top-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  background-position: center;
  color: white;
  text-align: center;
}


#hero div {
  flex-direction: column;
  padding: 5% 20%;
  margin-top: 7%;
}

#hero div p.head1 {
  text-transform: capitalize;
  font-size: 500%;
  margin-bottom: 2%;
  font-weight: bolder;
}

#hero div p.head2 {
  text-transform: uppercase;
  font-size: 300%;
  letter-spacing: 8px;
  margin-bottom: 4%;
  font-weight: bolder;
}

#hero div p.desc1 {
  font-size: 100%;
  margin-bottom: 4%;
  margin-left: 18%;
  margin-right: 18%;
}

#hero-btn {
  /* yellow color */
  background-color: rgb(255, 225, 0);
  border: none;
  padding: 17px 60px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bolder;
}


/* Section 2 */

#search-hotels {
  /* yellow color */
  background-color: rgb(255, 225, 0);
  padding: 5% 10%;
}

#search-hotels h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5%;
  font-size: 250%;
}

#search-hotels .search-form {
  display: flex;
  padding: 10px 20px;
  list-style: none;
}


#search-hotels .search-form p {
  font-weight: bolder;
}


#search-hotels .search-form {
  display: flex;
  justify-content: center;
}


#search-hotels .search-input {
  border: none;
  padding: 10px 20px;
  width: 90%;
  border-radius: 5px;
  font-weight: normal;
}

#search-hotels #find-hotel-btn {
  background-color: grey;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bolder;
  width: 150%;
}


/* Section 3 */
#trusted {
  display: flex;
  justify-content: stretch;
}

#trusted .img-train {
  background: url("/assets/train.jpg");
  background-size: cover;
  height: 100%;
}

#trusted > div {
  width: 50vw
}

.trusted-data {
  background-color: rgb(241, 240, 240);
}

.trusted-data > div {
  overflow: scroll;
  padding-top: 10%; 
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 25%;
}


.trusted-data h1 {
  font-size: 250%;
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.trusted-data h2 {
  font-size: 250%;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}


.trusted-data p.paragraph {
  line-height: 150%;
  font-size: large;
  margin-bottom: 8%;
}


.trusted-data li {
  display: flex;
  
}

.trusted-data ul {
  padding-right: 10%;
  
}

.trusted-data li p {
  line-height: 150%;
  font-size: large;
  margin-bottom: 5%;
}

.trusted-data img.tick-icon-logo {
  margin-right: 15px;
  width: 25px;
  height: 25px;

  /* blue color  */
  filter: brightness(0) saturate(100%) invert(31%) sepia(70%) saturate(2931%) hue-rotate(194deg) brightness(100%) contrast(94%);

}



/* Section 4 */
#section-4 {
  padding: 5% 10%;
}

#section-4 > h1 {
  text-align: center;
  font-size: 250%;
  text-transform: capitalize;
  margin-bottom: 5px;
}

#section-4 > h2 {
  text-align: center;
  font-size: 250%;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 80px;
}
#section-4 .best-services {
  display: flex;
  flex-wrap: wrap;
}

#section-4 .service {
  width: 50%;
  height: 140px;
  list-style: none;
  display: flex;
}
/* 
#section-4 .svc-img {
  width: 140px;
  height: 140px;
} */

#section-4 .nested {list-style: none;}

#section-4 .nested h1 {
  font-size: 150%;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 2%;
}

#section-4 .nested h3 {
  font-size: large;
  font-weight: normal;
  margin-bottom: 1%;
  padding-right: 35%;
}

#section-4 .svc-sm-logo {
  width: 80px;
  height: 80px;
  margin-right: 50px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(70%) saturate(2931%) hue-rotate(194deg) brightness(100%) contrast(94%);
}

#section-4 .svc-lg-logo {
  width: 60px;
  height: 60px;
  margin-right: 70px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(70%) saturate(2931%) hue-rotate(194deg) brightness(100%) contrast(94%);
}
