/* Add a black background color to the top navigation */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.mynav {
    background-color: #0000008a;
    color: white;
    padding: 0 200px;
    position: fixed;
    width: 100%;
    font-weight: bolder;
}

.top-nav {
  padding: 20px 0;
}

ul.bottom-nav a {
  color: white;
  text-decoration: none;
}

nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.bottom-nav div {
  display: flex;
}

.bottom-nav li {
  margin: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav li {
  display: flex;
}

.top-nav svg {
  margin: 0 8px;
  color: yellow;
  width: 20px;
  height: 20px;
  
}


.nav-button {
  display: flex;
  margin: 0 4px;
  padding: 2px 4px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bolder;
}

.active {
  border-bottom: 4px solid yellow;
}

#hero, #hero div{
  display: flex;
  align-items: center;
  justify-content: center;

}


#hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.737), rgba(0, 0, 0, 0.471)), url("/assets/top-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  background-position: center;
  color: white;
  text-align: center;
}


#hero div {
  flex-direction: column;
  padding: 5% 20%;
  margin-top: 7%;
}

main section div p.head1 {
  text-transform: capitalize;
  font-size: 500%;
  margin-bottom: 2%;
  font-weight: bolder;
}

main section div p.head2 {
  text-transform: uppercase;
  font-size: 300%;
  letter-spacing: 8px;
  margin-bottom: 4%;
  font-weight: bolder;
}

main section div p.desc1 {
  font-size: 100%;
  margin-bottom: 4%;
  margin-left: 18%;
  margin-right: 18%;
}

#hero-btn {
  background-color: yellow;
  border: none;
  padding: 17px 60px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bolder;
}