/* Add a black background color to the top navigation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.topnav {
    color: white;
  background-color: rgba(48, 47, 47, 0.696);
  display: flex;
  flex-direction: column;
  padding: 0 1.00px;
}

.topnav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.topnav ul div {
    display: flex;
    align-items: stretch;
}
.topnav ul li button {
    display: flex;
}

.topnav ul li {
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.topnav ul li a{
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.topnav ul li a:hover {
    color: bisque;
}

.topnav .top li svg{
    color: yellow;
}

.topnav .top li svg+p{
    padding: 0 0 0 8px;
}

.topnav .top button {
    background: transparent;
    border: none;
    color: white
}

.topnav .top button:hover {
    color: bisque;
    cursor: pointer;
}
.topnav .top {
    margin: 10px 0;
}

.topnav ul div li.active{
    border-bottom: 2px solid yellow;
}