body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #e7e4e4;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header (top)*/

ul{
    margin: 0;
    padding: 0;
}

header #info {
    float: right ;
}

header .fa {
    background-color: white;
    border-radius: 50%;
    color: #242f51;
    font-size: 10px;
    width: 1px;
    height: 1px;
  }
  
 header .fa:hover {
    opacity: 0.7;
  }

 header #info li {
    display: inline;
  }

 header #info a{
    padding: 20px;
    text-decoration: none;
  }

 header #info .tel{
    color: #242f51;
  }
 
  /* Header (Next)*/

  header .highlight1{
    color: #242f51;
  }

  header .highlight2{
    color: #3fc43f;
  }
  
  header#next{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
  }

  header#next h3, p{
    margin: 0;
    padding: 0;
    line-height: 15px;
  }

  header#next p{
    font-size: 10px;
    padding-left: 8px;
    font-family: monospace;
    color: #242f51;
    text-transform: uppercase;
    font-weight: bold;
  }

  header#next nav{
    margin-left: 50px;
    float: right;
    margin-right: 200px;
  }

  header#next li{
    display: inline;
    text-align: center;
  }

  header#next a{
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #e7e4e4;
  }

  .wrapper {
   display: grid;
   grid-template-columns: 15% 85%;
  }

  header#next .Box1{
    background-color: white;
    padding: 10px;
  }

  header#next .Box2{
    background-color: #242f51;
  }

  header#next nav button{
    background-color: #3fc43f;
    border-radius: 10px;
    color: #e7e4e4;
  }

  header#next nav button:hover{
    cursor: pointer;
  }

  /* SHOWCASE */

  section .image-container{
    position: relative;
    display: inline-block;
  }

section img{
    filter: brightness(50%);
    display: block;
    background-image: no-repeat;
    min-height: auto;
    max-width: 100%;
    text-align: center;
    color: #fff;
  }  

  section .overlay-text{
    position: absolute;
    top: 50%;
    pad: 10px 20px;
    text-align: center;
  }
  
  #showcase h1 .highlight{
    color: #4aed4a;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
  }

  #showcase h1{
    color: #fff;
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    font-weight: bold;
    font-size: 30px;
  }

  /*side bar*/
  
aside#sidebar{
    float: right;
    width: 30%;
}
aside#sidebar p{
    color: #fff;
    margin-top: -100px;
}
aside#sidebar button{
    background-color: #3fc43f;
    border-radius: 10px;
    color: #e7e4e4;
}
aside#sidebar button:hover{
    cursor: pointer;
}

/* Block */
.block{
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing:border-box
}

.block #box1 img{
    display: block;
    background-image: no-repeat;
    min-height: auto;
    max-width: 100%;
}

.block #box1 h3, .block #box3 h3{
    color: #242f51;
    font-size: small;
}

.block #box1 p, .block #box3 p{
    color: #58595b;
    font-size: small;
}

.block #box1 p.right, .block #box3 p.right{
    float: right;
    color: #3fc43f;
    margin-top: 20px;
    font-weight: bold;
    font-size: small;
}

.block #box2 img{
    display: block;
    background-image: no-repeat;
    min-height: auto;
    max-width: 100%;
}

.block #box2 .my-form{
    padding: 20px;
}

.block #box2 .my-form .form-group{
    padding-bottom: 15px;
}

.block #box2 .my-form input [type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block #box2 .form-group label{
    color: #242f51;
    font-size: small;
}

.block #box2 h3, h4{
    text-align: center;
}


.block #box2 .form-group .button{
    background-color: #3fc43f;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: #3fc43f;
}

.block #box2 .form-group .button:hover{
    cursor: pointer;
    font-weight: bold;
}

.block #box3 img{
    display: block;
    background-image: no-repeat;
    min-height: auto;
    max-width: 100%;
}

.block .image-container{
    position: relative;
    display: inline-block;
  }

.block img{
    display: block;
    background-image: no-repeat;
    min-height: 100%;
    max-width: 100%;
    text-align: center;
    color: #fff;
  }  

  .block .overlay-text{
    position: absolute;
    top: 50%;
    pad: 10px 20px;
    text-align: center;
  }

